body {
    color: rgb(255, 217, 0);
    background-color: rgb(1, 182, 40);
}
section {
    background: rgb(255, 217, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
    margin-left: 5%;
}