body {
    color: rgb(0, 0, 0);
    background-color: rgb(16, 151, 45);
}
.chamada {
    background: rgb(250, 216, 21);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;

}